[MASTER]

load-plugins=pylint.extensions.mccabe

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
	wrong-import-position,
	unused-import,
	redefined-builtin,
	no-member,
	cyclic-import,
	too-many-arguments,
        bare-except,
	useless-import-alias,
	no-self-argument,
	no-method-argument,
        consider-using-from-import,
        inconsistent-return-statements,
        no-self-use,
        import-error,
        redefined-outer-name,
        too-many-public-methods
