{% extends "layout.html" %}
<head>
    <title>Viiteapuri{% block title %}{% endblock %}</title>
    <div class="header"></div>
        <h1>Viiteapuri</h1>
    </div>
</head>

{% block content %}
<body>
    {% if message %}
        {{ message }}
    {% endif %}
    {% if ermsg %}
        {{ ermsg }}
    {% endif %}
    <a href="https://github.com/janikakalliokoski/parhaat123_ohtu">Linkki lähdekoodiin!</a> 
    <h3>Valitse viitteen tyyppi</h3>

    <p>
        <input type="radio" name="type" value="kirja" id="kirja" checked="checked"> Kirja
        <input type="radio" name="type" value="verkkosivu" id="verkkosivu"> Verkkosivu
    </p>
    <p>
        <button id="btn">Luo viite</button>
    </p>

    <div id="output"></div>

    <script>
        const btn = document.querySelector('#btn');
        const radioButtons = document.querySelectorAll('input[name="type"]');
        const string =
        btn.addEventListener("click", () => {
            let selectedType;
            for (const radioButton of radioButtons) {
                if (radioButton.checked) {
                    selectedType = radioButton.value;
                    break;
                }
            }
            if(selectedType === "kirja"){
                document.getElementById("website_div").style.display='none'
                document.getElementById("book_div").style.display='block'
            }
            else {
                document.getElementById("book_div").style.display='none'
                document.getElementById("website_div").style.display='block'

            }
        });
    </script>

    <div id="book_div" style="display:none">
        <form action="/" method="POST" onsubmit="return check(this)">

            <p>Avain:
            <input type="text" name="keyword" minlength="1" maxlength="20"></p>
            <p>Kirjailijan sukunimi:
            <input type="text" name="author_surname" minlength="1" maxlength="50"></p>
            <p>Kirjailijan etunimi:
            <input type="text" name="author_name" minlength="1" maxlength="50"></p>
            <p>Otsikko:
            <input type="text" name="title" minlength="1" maxlength="70"></p>
            <p>Julkaisuvuosi:
            <input type="text" name="year" minlength="1" maxlength="4"></p>
            <p>Julkaisija:
            <input type="text" name="publisher" minlength="1" maxlength="70"></p>

            <script>
                function check(form) {
                    if (form.year.value.match(/^[0-9]+$/) == null) {
                        alert("vuosiluku voi koostua vain numeroista");
                        return false;
                    }
                    if (form.keyword.value.length < 1 || form.keyword.value.length > 20) {
                        alert("avaimen pituus tulee olla 1-20 merkkiä");
                        return false;
                    }
                    if (form.author_surname.value.length < 1 || form.author_surname.value.length > 50) {
                        alert("kirjailijan sukunimen pituus tulee olla 1-50 merkkiä");
                        return false;
                    }
                    if (form.author_name.value.length < 1 || form.author_name.value.length > 50) {
                        alert("kirjailijan etunimen pituus tulee olla 1-50 merkkiä");
                        return false;
                    }
                    if (form.publisher.value.length < 1 || form.publisher.value.length > 70) {
                        alert("julkaisijan nimen pituus tulee olla 1-70 merkkiä");
                        return false;
                    }
                    if (form.title.value.length < 1 || form.title.value.length > 70) {
                        alert("otsikon pituus tulee olla 1-70 merkkiä");
                        return false;
                    }
                    return true;
                }
            </script>

            <input type="submit" value="Lisää viite">
        </form>
    </div>



    <div id="website_div" style="display:none" >
        <form action="/" method="POST" onsubmit="return check(this)">

            <p>Avain:
            <input type="text" name="keyword" minlength="1" maxlength="20"></p>
            <p>Haettu:
                <input type="text" name="added_at" minlength="1" maxlength="70"></p>
            <p>Kirjailijan sukunimi:
            <input type="text" name="author_surname" minlength="1" maxlength="50"></p>
            <p>Kirjailijan etunimi:
            <input type="text" name="author_name" minlength="1" maxlength="50"></p>
            <p>Otsikko:
            <input type="text" name="title" minlength="1" maxlength="70"></p>
            <p>Kuvaus:
                <input type="text" name="description" minlength="1" maxlength="200"></p>
            <p>url:
            <input type="text" name="url" minlength="1" maxlength="200"></p>
            <p>Julkaisuvuosi:
                <input type="text" name="year" minlength="1" maxlength="4"></p>


            <script>
                function check(form) {
                    if (form.year.value.match(/^[0-9]+$/) == null) {
                        alert("vuosiluku voi koostua vain numeroista");
                        return false;
                    }
                    if (form.keyword.value.length < 1 || form.keyword.value.length > 20) {
                        alert("avaimen pituus tulee olla 1-20 merkkiä");
                        return false;
                    }
                    if (form.author_surname.value.length < 1 || form.author_surname.value.length > 50) {
                        alert("kirjailijan sukunimen pituus tulee olla 1-50 merkkiä");
                        return false;
                    }
                    if (form.author_name.value.length < 1 || form.author_name.value.length > 50) {
                        alert("kirjailijan etunimen pituus tulee olla 1-50 merkkiä");
                        return false;
                    }
                    if (form.publisher.value.length < 1 || form.publisher.value.length > 70) {
                        alert("julkaisijan nimen pituus tulee olla 1-70 merkkiä");
                        return false;
                    }
                    if (form.title.value.length < 1 || form.title.value.length > 70) {
                        alert("otsikon pituus tulee olla 1-70 merkkiä");
                        return false;
                    }
                    if (form.added_at.value.length < 1 || form.added_at.value.length > 70) {
                        alert("Hakupäivämäärän pituus tulee olla 1-70 merkkiä");
                        return false;
                    }
                    if (form.description.value.length < 1 || form.description.value.length > 200) {
                        alert("Kuvauksen pituus tulee olla 1-200 merkkiä");
                        return false;
                    }
                    if (form.url.value.length < 1 || form.url.value.length > 200) {
                        alert("Verkkosivuosoitteen pituus tulee olla 1-200 merkkiä");
                        return false;
                    }
                    return true;
                }
            </script>

            <input type="submit" value="Lisää viite">
        </form>
    </div>

    <h3>Viitteesi:</h3>
    <div class="top-class-name">
            {% for ref in refs %}
            <dt><b>Avain: {{ ref[0] }}</b>
            <form action="/delete" method="POST">
                <input type="hidden" value="{{ref[0]}}" name="keyword" >
                <input type="submit" value="Poista">
            <br>
            </form>
            </dt>
            <dd>Kirjailijan sukunimi: {{ ref[1] }}</dd>
            <dd>Kirjailijan etunimi: {{ ref[2] }}</dd>
            <dd>Otsikko: {{ ref[3] }}</dd>
            <dd>Julkaisuvuosi: {{ ref[4] }}</dd>
            <dd>Julkaisija: {{ ref[5] }}</dd>
            <br><b>BibTeX</b>
            <br>
            <dt>@book&#123;{{ ref[0] }},</dt>
            <dd>author = &#123;{{ ref[2] }}, {{ ref[1] }}&#125;,</dd>
            <dd>title = &#123;{{ ref[3] }}&#125;,</dd>
            <dd>year = &#123;{{ ref[4] }}&#125;,</dd>
            <dd>publisher = &#123;{{ ref[5] }}&#125;,</dd>
            &#125;
            <br>
            <br>
            {% endfor %}
        </dl>
        
        <script>
            document.getElementById("delete_button").onclick = function () {
                return 
            }
        </script>
{% endblock %}
    </div>   
