<head>
    <title>Viiteapuri</title>
    <h1>Viiteapuri</h1>
</head>

<body>
    {% if message %}
        {{ message }}
    {% endif %}
    {% if ermsg %}
        {{ ermsg }}
    {% endif %}
    <h4>Valitse viitteen tyyppi</h4>
    <form action="/" method="POST" onsubmit="return check(this)">
        <input type="radio" name="type" value="book" checked="checked"> Kirja

        <p>Avain:
        <input type="text" name="keyword" minlength="1" maxlength="20"></p>
        <p>Kirjailijan sukunimi:
        <input type="text" name="author_surname" minlength="1" maxlength="50"></p>
        <p>Kirjailijan etunimi:
        <input type="text" name="author_name" minlength="1" maxlength="50"></p>
        <p>Otsikko:
        <input type="text" name="title" minlength="1" maxlength="70"></p>
        <p>Julkaisuvuosi:
        <input type="text" name="year" minlength="1" maxlength="4"></p>
        <p>Julkaisija:
        <input type="text" name="publisher" minlength="1" maxlength="70"></p>

        <script>
            function check(form) {
                if (form.year.value.match(/^[0-9]+$/) == null) {
                    alert("vuosiluku voi koostua vain numeroista");
                    return false;
                }
                if (form.keyword.value.length < 1 || form.keyword.value.length > 20) {
                    alert("avaimen pituus tulee olla 1-20 merkkiä");
                    return false;
                }
                if (form.author_surname.value.length < 1 || form.author_surname.value.length > 50) {
                    alert("kirjailijan sukunimen pituus tulee olla 1-50 merkkiä");
                    return false;
                }
                if (form.author_name.value.length < 1 || form.author_name.value.length > 50) {
                    alert("kirjailijan etunimen pituus tulee olla 1-50 merkkiä");
                    return false;
                }
                if (form.publisher.value.length < 1 || form.publisher.value.length > 70) {
                    alert("julkaisijan nimen pituus tulee olla 1-70 merkkiä");
                    return false;
                }
                if (form.title.value.length < 1 || form.title.value.length > 70) {
                    alert("otsikon pituus tulee olla 1-70 merkkiä");
                    return false;
                }
                return true;
            }
        </script>

        <input type="submit" value="Lisää viite">
    </form>

    <p>Viitteesi:    <input type="checkbox" name="BibTex">
    <label for="BibTex">BibTex</label></p>
    <dl>
        {% for ref in refs %}
        <dt><b>Avain: {{ ref[0] }}</b></dt>
        <dd>Airjailijan sukunimi: {{ ref[1] }}</dd>
        <dd>Kirjailijan etunimi: {{ ref[2] }}</dd>
        <dd>Otsikko: {{ ref[3] }}</dd>
        <dd>Julkaisuvuosi: {{ ref[4] }}</dd>
        <dd>Julkaisija: {{ ref[5] }}</dd>
        <br>
        {% endfor %}
    </dl>
</body>